{{> head }}
{{> navbar }}
<div class="row">
    <div class="col-8">
        <h1>Acerca de la aplicación</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error facere est praesentium iusto eius vel fuga inventore ducimus aliquam at. Dignissimos quas id, eos quae eveniet minima neque dolores ex!</p>
    </div>
    <div class="col-4">
        <img src="assets/img/office.jpg" class="img-thumbnail">
    </div>
</div>
{{> footer }}